#home {
    background-image: url("https://www.gifimili.com/gif/2018/02/fortnite-battle-royale.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}
body {
    margin:0;
   background-color: black;
   
}


.icon-bar {
  width: 100%;
 
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}



.active {
  
  width: 30px;
  height: 500px;
}

#player {
    font-size: 40px;
    margin-left: 490px;
    color: cornsilk;
    transition: transform 0.6s;
 
    
}
#logo {
    width:10px;
    height: 30px;
}
#title {
    margin-left: 660px;
    font-size: 70px;
    color: rgb(120, 226, 49);
    

 
}
img {
    width: 450px;
}
